.button {
  @include clearButton;
  @include transit(background-color);
  width: 100%;
  padding: 10px 14px 10px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  background-color: transparent;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--button-color-main);
    }

    &:hover .arrow {
      opacity: 1;
    }
  }
}

.buttonActive {
  background-color: var(--button-color-main);

  .arrow {
    opacity: 1;
  }
}

.container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.image {
  width: 24px;
  height: 24px;
  object-fit: cover;
  object-position: center;
}

.text {
  color: var(--text-color-main);
}

.arrow {
  @include transit(opacity);
  margin-left: auto;
  width: 16px;
  height: 16px;
  opacity: 0;
  transform: rotate(-90deg);

  @include media-max-width(sm) {
    opacity: 1;
  }
}
