.link {
  padding: 20px 32px;
  background-color: var(--button-color-main);
  border-radius: 6px;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--button-color-gray-hover);
    }
  }
}

.text {
  color: var(--text-color-footer-link);
}
