.catalogPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 24px var(--content-padding) 120px;

  @include media-max-width(md) {
    padding: 48px var(--content-padding) 90px;
  }

  @include media-max-width(xs) {
    padding: 32px var(--content-padding) 60px;
  }
}

.catalogAbout {
  margin-top: 83px;
}
