.navList {
  min-width: 160px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title {
  color: var(--text-color-black);
}

.list {
  @include clearList;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.link {
  @include text3;
  @include clearLink;
  color: var(--text-color-footer-link);

  @include media-max-width(sm) {
    @include tooltip2;
  }
}
