.titleWrap {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 24px 0 0;
}

.title {
  color: var(--text-color-secondary-on);
}

.count {
  color: var(--text-color-secondary);
  margin-top: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin: 48px 0;
}

.linksList {
  @include clearList();
  display: flex;
  flex-wrap: wrap;
  gap: 12px;  

  @include media-max-width(sm) {
    flex-wrap: nowrap;
    overflow: auto;
  }
}

.linksListItem {
  display: flex;
  flex-shrink: 0;
}

.devider {
  height: 1px;
  width: 100%;
  background-color: var(--bg-border, #e0e0df);
}

.filters {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.filterButton {
  width: auto;
  background: var(--button-tertiary, #f9f9f7);

  span {
    margin: 0;
  }
}
