.titleSection {
  padding-top: 60px;
  padding-bottom: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media-max-width(xl) {
    padding-top: 80px;
  }

  @include media-max-width(sm) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.titleContainer {
  margin: 0 var(--content-padding);
  position: relative;
  max-width: var(--max-content-width);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-secondary);
  border-radius: 24px;
  overflow: hidden;
  padding: 60px 126px 60px 72px;

  @include media-max-width(xl) {
    padding: 60px 72px;
  }

  @include media-max-width(md) {
    padding: 60px 56px;
  }

  @include media-max-width(sm) {
    flex-direction: column;
    padding: 40px 99px;
    gap: 24px;
  }

  @include media-max-width(xs) {
    padding: 24px;
  }
}

.titleSectionBackground {
  position: absolute;
  top: -80px;
  left: -55px;
  width: auto;
  height: 530px;

  @include media-max-width(xl) {
    height: 506px;
    left: -40px;
  }

  @include media-max-width(md) {
    height: 480px;
    top: -46px;
    left: -40px;
  }

  @include media-max-width(sm) {
    height: 450px;
    top: -36px;
    left: 50%;
    transform: translateX(-35%);
  }

  @include media-max-width(xs) {
    transform: translateX(-28%);
  }
}

.title {
  max-width: 688px;
  color: var(--text-color-main);
  flex-shrink: 0;
  z-index: 1;

  @include media-max-width(xl) {
    max-width: 614px;
  }

  @include media-max-width(md) {
    max-width: 489px;
  }

  @include media-max-width(sm) {
    text-align: center;
    max-width: 353px;
  }

  @include media-max-width(xs) {
    max-width: 287px;
    text-align: left;
  }
}

.description {
  max-width: 612px;
  color: var(--text-color-secondary-on);
  z-index: 1;

  @include media-max-width(xl) {
    max-width: 552px;
  }

  @include media-max-width(md) {
    max-width: 344px;
  }

  @include media-max-width(sm) {
    text-align: center;
    max-width: 504px;
  }

  @include media-max-width(xs) {
    max-width: 287px;
    text-align: left;
  }
}
