.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-tertiary);
  padding: 70px 40px 21px;

  @include media-max-width(md) {
    padding: 70px 40px 16px;
  }

  @include media-max-width(sm) {
    padding: 70px 20px 17px;
  }

  @include media-max-width(xs) {
    padding: 70px 20px 20px;
    align-items: flex-start;
  }
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1560px;
  width: 100%;
}

.legal {
  margin-top: 31px;
  padding-top: 17px;
  border-top: 1px solid var(--bg-border);
  width: 100%;
  display: flex;
  align-items: center;

  @include media-max-width(md) {
    margin-top: 40px;
    padding-top: 16px;
    justify-content: space-between;
  }

  @include media-max-width(sm) {
    margin-top: 46px;
    padding-top: 17.56px;
  }

  @include media-max-width(xs) {
    margin-top: 72px;
    padding-top: 16px;
    flex-direction: column;
    gap: 16px;
  }
}

.legalLinks {
  display: flex;
  gap: 32px;
  margin-left: auto;
  margin-right: 397.85px;

  @include media-max-width(md) {
    margin: 0;
  }
}

.legalText {
  @include clearLink;
  color: var(--text-color-footer-link);

  @include media-max-width(sm) {
    @include tooltip2(sm);
  }
}
