.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  max-width: 2560px;
  width: 100%;
  margin: 0 auto;
  background: #fdfdfc;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
