.favouritesPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0 120px;

  @include media-max-width(md) {
    padding: 40px 0 90px;
  }

  @include media-max-width(sm) {
    padding: 20px 0 90px;
  }

  @include media-max-width(xs) {
    padding: 32px 0 90px;
  }
}
