.button {
  @include clearButton;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;

  &_size_xs {
    .text {
      @include text4;
    }
  }
}

.iconWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: transparent;
}

.icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}


// TODO: Не понятно что тут за шрифт, в основных его нет, поэтому и инклюдов пока нет
.quantity {
  position: absolute;
  right: -15px;
  top: -5px;
  color: var(--text-color-main-on);
  background-color: var(--bg-red);
  padding: 1.5px 4px;
  border-radius: 16px;
  font-family: var(--font-vela-sans);
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  line-height: 100%;
}

.text {
  @include text1;
}
