.productCard {
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;

    &_size_xl {
        width: 444px;
        gap: 8px;

        .imgWrap {
            padding: 20px;
            height: 300px;
        }

        .title {
            @include h5();
        }
    }

    &_size_xs {
        width: 324px;

        .imgWrap {
            padding: 16px;
            height: 254px;
        }

        .title {
            @include h5(xs);
        }
    }

    &_color_main {
        .imgWrap {
            background-color: var(--bg-main);
        }
    }

    &_color_secondary {
        .imgWrap {
            background-color: var(--bg-secondary);
        }
    }
}

.imgWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    // background-color: var(--bg-secondary);
    border-radius: 24px;
    overflow: hidden;
}

.img {
    @include containImg();
}

.tagsWrap {
    display: flex;
    gap: 4px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.title {
    color: var(--text-color-main);
}

.price {
    display: flex;
    gap: 16px;
}

.priceItem {
    @include number();
}

.priceItemNew {
    color: var(--text-color-red);
}

.priceItemOld {
    color: var(--text-color-secondary);
    text-decoration: line-through;
}