.tagWithImage {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &_size_xl {
        padding: 14px;
        width: 180px;
        height: 115px;
        border-radius: 16px;
        background-color: #F2EBEB;
        @include transit(background-color);

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background-color: #F7F3F3;
            }
        }

        .imageWrap {
            position: absolute;
            width: 100px;
            height: 100px;
            right: -8px;
            bottom: -15px;
        }
        
        .text {
            @include text2;
        }

        .image {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &_size_xs {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 4px;

        .imageWrap {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #F2EBEB;
            width: 76px;
            height: 70px;
            border-radius: 10px;
            @include transit(background-color);

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    background-color: #F7F3F3;
                }
            }
        }

        .text {
            @include tooltip2(sm);
        }

        .image {
            width: 66px;
            height: 60px;
            object-fit: cover;
            object-position: center;
        }
    }
}

