.deliveryTomorrowSection {
  padding-top: 84px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--bg-secondary);

  @include media-max-width(sm) {
    padding-top: 56px;
    padding-bottom: 59px;
  }

  @include media-max-width(xs) {
    padding-top: 60px;
    padding-bottom: 63px;
  }
}

.reviewSection {
  margin-top: 116px;
  margin-bottom: 120px;
}
