.contentBlock {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;

  h2 {
    @include h2;
    color: var(--text-color-main);
    margin-bottom: 40px;
  }

  h3 {
    @include h3;
    color: var(--text-color-main);
    margin-bottom: 16px;
  }

  h4 {
    @include h4;
    color: var(--text-color-main);
    margin-bottom: 16px;
  }

  h5 {
    @include h5;
    color: var(--text-color-main);
    margin-bottom: 16px;
  }

  h6 {
    @include h6;
    color: var(--text-color-main);
    margin-bottom: 16px;
  }

  p {
    @include text1;
    color: var(--text-color-secondary);
    margin-bottom: 32px;
  }

  ul {
    @include text1;
    color: var(--text-color-secondary);
    list-style: disc;
    padding-left: 25px;
    margin-bottom: 32px;
  }

  ol {
    @include text1;
    color: var(--text-color-secondary);
    padding-left: 25px;
    margin-bottom: 32px;
  }

  li {
    margin-bottom: 8px;
  }

  b,
  strong {
    color: inherit;
    font-size: inherit;
    font-weight: 800;
  }

  u {
    @include text1;
    color: var(--text-color-main);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 6.5%; /* 1.17px */
    text-underline-offset: 10%; /* 1.8px */
    text-underline-position: from-font;
  }

  s,
  del {
    @include text1;
    color: var(--text-color-main);
    text-decoration-line: strikethrough;
  }
}
