// Стили формы
.form {
  position: relative;
  align-self: flex-start;
  width: 100%;
}

.formLabel {
  padding: 2px 2px 2px 24px;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  background-color: var(--form-bg-color);
  border-radius: 40px;

  @include media-max-width(xs) {
    height: 48px;
  }
}

.formInput {
  @include clearInput;
  width: 100px;

  &:disabled {
    opacity: 0.5;
  }
}

.submitButton {
  color: var(--ico-color-main-on);

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

.formError {
  padding-left: 24px;
  display: block;
  margin-top: 8px;
  color: var(--text-color-red);
  font-size: 12px;
  line-height: 1.3;
}