.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-main);
}

.navWrap {
  padding: 0 40px;
  width: 100%;
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
  justify-content: center;

  @include media-max-width(sm) {
    display: none;
  }
}

.navContainer {
  max-width: 1360px;
  width: 100%;
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-min-width(xl) {
    max-width: 1560px;
  }
}

.contacts {
  display: flex;
  align-items: center;
  gap: 18px;
}

.location {
  p {
    color: var(--text-color-main);
  }
}

.locationBtn {
  @include clearButton;
  display: flex;
  align-items: center;
  gap: 6px;
}

.locationIcon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}

.chevronIcon {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
}

// .locationIcon {
//   @include media-max-width(sm) {
//     path {
//       fill: var(--ico-color-secondary);
//     }
//   }
// }

.phone {
  text-decoration: none;
  color: var(--text-color-main);

  // @include media-max-width(sm) {
  //   padding: 6px 10px 6px 8px;
  //   display: flex;
  //   align-items: center;
  //   gap: 2px;
  //   background-color: var(--button-color-main);
  //   border-radius: 12px;
  // }
}

.nav {
  display: flex;
  align-items: center;
}

.navList {
  @include clearList;
  display: flex;
  align-items: center;
  gap: 24px;
}

.link {
  @include text4;
  color: var(--text-color-main);
  text-decoration: none;
}

.mainWrap {
  padding: 0 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media-max-width(sm) {
    display: none;
  }
}

.mainContainer {
  padding: 24px 0;
  max-width: 1560px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoLink {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoIcon {
  width: 218px;
  height: 26px;

  // @include media-max-width(sm) {
  //   width: 178px;
  //   height: 20px;
  // }

  // @include media-max-width(xs) {
  //   width: 124px;
  //   height: 14px;
  // }
}

.searchWrap {
  margin-left: 48px;
  margin-right: auto;
  max-width: 940px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
}

.buttonsWrap {
  margin-left: 32px;
  display: flex;
  align-items: center;
  gap: 54px;
}

.icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
