.footerContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0;

  .text {
    @include clearLink;
    color: var(--text-color-footer-link);
    @include tooltip2;
  }
}

.subscription {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 0;
  max-width: 100%;
}

.title {
  color: var(--text-color-black);
}

.orderCall {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.orderCallButton {
  align-self: flex-start;
}

.operatingMode,
.deliveryHours,
.socialMedia {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

.socialMediaList {
  display: flex;
  gap: 8px;
}

.paymentSystems {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 32px;
}

.paymentSystemsList {
  display: flex;
  align-items: center;
  gap: 17px;
}

.rating {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
}

.ratingList {
  @include clearList;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ratingLink {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.logoWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 35px;

  @include media-max-width(xs) {
    margin-top: 58px;
  }
}

.logoText {
  color: var(--text-color-footer-link);
}

.address {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 219px;
  margin-top: 32px;
}
