.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-tertiary);
  padding: 70px 40px 21px;

  @include media-max-width(md) {
    padding: 70px 40px 16px;
  }

  @include media-max-width(sm) {
    padding: 70px 20px 17px;
  }

  @include media-max-width(xs) {
    padding: 70px 20px 20px;
    align-items: flex-start;
  }
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1560px;
  width: 100%;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  gap: 100px;

  @include media-max-width(md) {
    gap: 0;
  }

  @include media-max-width(xs) {
    flex-direction: column;
  }
}

.footerContentLeftItem {
  max-width: 568px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 7px;
}

.footerContentItem {
  display: flex;
  flex-direction: column;

  &:last-child {
    padding-right: 20px;

    @include media-max-width(xl) {
      padding-right: 40px;
    }

    @include media-max-width(md) {
      padding-right: 47px;
    }

    @include media-max-width(sm) {
      padding-right: 20px;
    }
  }
}

.footerNavigation {
  display: flex;
}

.orderCall {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include media-max-width(xs) {
    margin-top: 32px;
    // align-items: center;
  }
}

.orderCallButton {
  align-self: flex-start;
}

.address {
  margin-top: 68px;
  max-width: 280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media-max-width(md) {
    margin-top: 48px;
    max-width: 219px;
  }

  @include media-max-width(xs) {
    margin-top: 32px;
  }
}

.logoWrapper {
  margin-top: 88px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media-max-width(md) {
    margin-top: 35px;
  }

  @include media-max-width(xs) {
    margin-top: 58px;
  }
}

.logoText {
  @include tooltip2;
  color: var(--text-color-footer-link);
}

.socialMedia {
  margin-top: 91px;
}

.socialMediaList {
  display: flex;
  gap: 8px;
}

.deliveryHours {
  margin-top: 48px;
}

.operatingMode,
.deliveryHours,
.socialMedia {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media-max-width(md) {
    margin-top: 48px;
  }

  @include media-max-width(xs) {
    margin-top: 32px;
  }
}

.footerNavigation {
  max-width: 476px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.subscription {
  margin-top: 56px;
  max-width: 436px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include media-max-width(md) {
    margin-top: 0;
    max-width: 314px;
  }

  @include media-max-width(sm) {
    max-width: 224px;
  }

  @include media-max-width(xs) {
    max-width: 100%;
  }
}

.rating {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include media-max-width(md) {
    margin-top: 48px;
  }

  @include media-max-width(xs) {
    margin-top: 32px;
  }
}

.ratingList {
  @include clearList;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ratingLink {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.paymentSystems {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media-max-width(md) {
    margin-top: 48px;
  }

  @include media-max-width(xs) {
    margin-top: 32px;
  }
}

.paymentSystemsList {
  display: flex;
  align-items: center;
  gap: 17px;
}

.legal {
  margin-top: 31px;
  padding-top: 17px;
  border-top: 1px solid var(--bg-border);
  width: 100%;
  display: flex;

  @include media-max-width(md) {
    margin-top: 40px;
    padding-top: 16px;
    justify-content: space-between;
  }

  @include media-max-width(sm) {
    margin-top: 46px;
    padding-top: 17.56px;
  }

  @include media-max-width(xs) {
    margin-top: 72px;
    padding-top: 16px;
    flex-direction: column;
    gap: 16px;
  }
}

.legalLinks {
  display: flex;
  gap: 32px;
  margin-left: auto;
  margin-right: 397.85px;

  @include media-max-width(md) {
    margin: 0;
  }
}

.navList {
  @include media-max-width(md) {
    margin-top: 48px;
    align-self: flex-start;
  }
}

.title {
  @include h6;
  color: var(--text-color-black);

  @include media-max-width(xs) {
    @include h6(xs);
  }
}

.text {
  @include text3;
  @include clearLink;
  @include clearLink;
  color: var(--text-color-footer-link);

  @include media-max-width(xs) {
    @include tooltip2;
  }
}

.legalText {
  @include tooltip2;
  @include clearLink;
  color: var(--text-color-footer-link);

  @include media-max-width(sm) {
    @include tooltip2(sm);
  }
}
