.reviewsSection {
  width: 100%;
  padding-top: 116px;
  padding-bottom: 120px;
  background-color: var(--bg-main);

  @include media-max-width(md) {
    padding-top: 76px;
    padding-bottom: 80px;
  }

  @include media-max-width(sm) {
    padding: 60px 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  max-width: var(--max-content-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--content-padding);
}

.title {
  @include h2();
  color: var(--text-color-main);

  @include media-max-width(sm) {
    @include h2(sm);
  }
}

.ratingWrap {
  display: flex;
  gap: 24px;
  margin-top: 48px;
  margin-bottom: 32px;

  @include media-max-width(sm) {
    margin-top: 32px;
    margin-bottom: 24px;
    gap: 8px;
  }
}

.reviewWrap {
  display: flex;
  width: 100%;
  padding: 24px 24px 26px;
  background-color: var(--bg-secondary);
  overflow: hidden;

  @include media-max-width(xs) {
    padding: 16px 16px 17px;
  }
}

.reviewList {
  @include clearList;
  display: flex;
  flex-wrap: nowrap;
  overscroll-behavior: none;
  width: 100%;
}

.reviewItem {
  box-shadow: 18px 0px 19px -10px #00000024;
  border-radius: 20px;
}
