.button {
  @include clearButton;
  padding: 10px 14px 10px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  background-color: transparent;
  gap: 147px;
  @include transit(background-color);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--button-color-main);
    }

    &:hover .arrow {
      opacity: 1;
    }
  }
}

.container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon {
  width: 24px;
  height: 24px;
  object-fit: cover;
  object-position: center;
}

.text {
  font-family: var(--font-vela-sans);
  font-weight: 500;
  font-size: 16px;
  line-height: 110.00000000000001%;
  color: var(--text-color-main);
}

.arrow {
    width: 16px;
    height: 16px;
    opacity: 0;
    @include transit(opacity);
}