:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //bg
  --bg-main: #fdfdfc;
  --bg-secondary: #f6f6f3;
  --bg-tertiary: #eeeee9;
  --bg-border: #e0e0df;
  --bg-border-red: #97050515; // потом проверить правильный ли цвет
  --bg-beige-main: #d9d0c7;
  --bg-beige-secondary: #cbbfb3;
  --bg-beige1-main: #e5d5c7;
  --bg-beige2-secondary: #e5d5c7;
  --bg-purple-main: #dbbaba;
  --bg-purple-secondary: #d6abaa;
  --bg-blue: #d4e2f4;
  --bg-yellow: #f3e4bd;
  --bg-grey-blue: #dfe7f0;
  --bg-green: #e2ebde;
  --bg-red: #d70404;
  --bg-devider: #d9d9d9;

  //ico
  --ico-color-main: #171717;
  --ico-color-main-on: #ffffff;
  --ico-color-secondary: #b1b1b1;
  --ico-color-beige: #706b62;
  --ico-color-red: #d70404;

  //border
  --border-color-light-gray: #8080803b;
  --border-color-light-white: #ffffff3b;

  //button
  --button-color-main: #f2f2ef;
  --button-color-secondary: #b3b3b3;
  --button-color-secondary-hover: #c2c2c2;
  --button-color-tertiary: #f9f9f7;
  --button-color-tertiary-hover: #f0f0eb;
  --button-color-main-on: #fdfdfc;
  --button-color-main-on-hover: #f5f4f2;
  --button-color-red: #d6abaa;
  --button-color-red-hover: #e8cfcf;
  --button-color-gray-hover: #e3e3dc;
  --button-color-bordered: #9b9b9b0a;

  //text
  --text-color-main: #30302b;
  --text-color-secondary: #8a8a8a;
  --text-color-tertiary: #d6d6d6;
  --text-color-main-on: #ffffff;
  --text-color-secondary-on: #000000b3;
  --text-color-red: #d70404;
  --text-color-black: #000000;
  --text-color-footer-link: #000000b2;

  //form
  --form-bg-color: #fafaf9;

  --max-content-width: 1560px;
  --content-padding: 0px;

  @include media-max-width(1640) {
    --max-content-width: 1640px;
    --content-padding: 40px;
  }

  @include media-max-width(md) {
    --content-padding: 20px;
  }
  @include media-max-width(sm) {
    --content-padding: 32px;
  }
  @include media-max-width(xs) {
    --content-padding: 20px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-vela-sans, sans-serif);
  -webkit-tap-highlight-color: transparent;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img,
video {
  max-width: 100%;
  height: auto;
}
