.button {
  @include clearButton;
  @include transit(background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  padding: 14px 32px;
  gap: 10px;
  background-color: var(--button-color-secondary);

  // Почему-то один и тот же цвет для hover и default
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--button-color-secondary);
    }
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}
