.tagsSection {
  width: 100%;
  padding-top: 40px;
  display: flex;
}

.tagsContainer {
  margin: 0 auto;
  padding: 0 calc(var(--content-padding) - 16px) 0 var(--content-padding);
  display: flex;
  max-width: var(--max-content-width);
  width: 100%;
  max-width: 1560px;
  gap: 16px;
}

.swiperContainer {
  width: 100%;
  height: auto;
}

.swiperSlide {
  width: -webkit-min-content !important;
  width: min-content !important;
}
