.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.inputWrap {
  width: 100%;
  padding: 19px 24px;
  border: 1px solid var(--bg-border);
  border-radius: 11px;

  &_error {
    border: 1px solid var(--bg-border-red);
  }
}

.input {
  @include clearInput;
  @include text2;

  width: 100%;

  &_error {
    color: var(--text-color-red);
  }
}

.inputError {
  color: var(--text-color-red);
}
