.button {
  @include clearButton;
  width: 100%;
  padding: 14px 20px;
  background-color: var(--bg-beige-main);
  border-radius: 40px;
}

.text {
  font-family: var(--font-vela-sans);
  font-weight: 600;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 1%;
  color: var(--text-color-main-on);
}
