.feedbackForm {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 100%;

  @include media-max-width(sm) {
    gap: 40px;
  }
}

.inputsBlock {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  border-top: 1px solid var(--bg-border);

  @include media-max-width(md) {
    padding-top: 40px;
    flex-direction: column;
    gap: 32px;
  }
}

.inputsBlockTitle {
  color: var(--text-color-main);
}

.inputsBlockContent {
  display: flex;
  flex-direction: column;
  max-width: 831px;
  width: 100%;
  gap: 48px;

  @include media-max-width(xl) {
    max-width: 776px;
  }

  @include media-max-width(sm) {
    max-width: 100%;
  }
}

.inputsBlockWrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 831px;
  width: 100%;

  @include media-max-width(xl) {
    max-width: 776px;
  }

  @include media-max-width(sm) {
    max-width: 100%;
  }
}

.textareaContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}

.textareaWrap {
  width: 100%;
  padding: 19px 24px;
  border: 1px solid var(--bg-border);
  border-radius: 11px;

  @include media-max-width(xs) {
    padding: 19px 20px;
  }

  &_error {
    border: 1px solid var(--bg-border-red);
  }
}

.textarea {
  @include text2;
  @include clearInput;
  width: 100%;
  height: 172px;
}

.textareaError {
  color: var(--text-color-red);
}

.textWrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.submitBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

  @include media-max-width(xs) {
    gap: 20px;
  }
}

.checkboxWrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkboxText {
  color: var(--text-color-main);
}

.statusMessage {
  color: var(--text-color-main);

  &_error {
    color: var(--text-color-red);
  }
}
